/* --color-primary : #000; */

.drak-theme {
    --login-bgr: #000000;
    --login-copy: #ffffff;
    --bg-login-btn: #000000;
    --login-title-color: #333333;
    --login-title-weight: 600;
    --bgcolor: #000000;
    --bgouter: #222222;
    --bginput: #111111;
    --bg-topbar: #111111;
    --topbar-border-bottom: #111111;
    --public-font-color: #ffffff;
    --theme-color: #1188DD;
    --icon-common-color: #1188DD;
    --opacity75: 0.75;
    --opacity50: 0.50;
    --c75: rgba(255, 255, 255, 0.75);
    --c50: rgba(255, 255, 255, 0.5);
    --btn-primary-font-color: #fff;
    --btn-primary-hover-bgcolor: #0066BB;
    --btn-primary-hover-shadow: rgba(0, 102, 187, 0.4);
    --btn-primary-hover-bg-color: #0066BB;
    --btn-primary-active-bg-color: #004499;
    --btn-primary-disabled-bg-color: #7EBEEC;
    --btn-opr-bg-color: #444444;
    --btn-opr-bg-color-win: #444444;
    --btn-opr-bg-color-win-disabled: #333333;
    --btn-opr-active-bg-color: #373737;
    --btn-opr-disabled-bg-color: #333333;
    --btn-opr-disabled-font-color: rgba(255, 255, 255, 0.5);
    --btn-opr-font-color: #ffffff;
    --btn-opr-hover-bgcolor: #595959;
    --btn-opr-active-bgcolor: #333333;
    --btn-text-fontcolor: #1188DD;
    --btn-text-hover-fontcolor: #0066BB;
    --btn-text-active-fontcolor: #004499;
    --btn-text-disabled-fontcolor: #999999;
    --drop-btn-list-bg: #444444;
    --drop-btn-item-bg-hover: #595959;
    --drop-btn-list-boxshadow-color: rgba(0, 0, 0, 0.2);
    --bg-tab-btn: #444444;
    --border-color-common: #444444;
    --border-color-input-or-other-wrap: #777777;
    --border-color-input-hover: #1188DD;
    --form-common-border: #ffffff;
    --form-selected-icon-color: #ffffff;
    --form-selected-bg-color: #1188DD;
    --form-input-disabled-bg-color: #444444;
    --bg-menu-wrap: #000000;
    --bg-first-menu: #000000;
    --bg-first-hover-menu: #222222;
    --bg-second-menu: #222222;
    --bg-third-menu: #333333;
    --senior-menu-bg: #222222;
    --senior-single-bg-selected: #333333;
    --senior-second-bg-selected: #444444;
    --bg-collapse-bar: #222222;
    --bg-header-table-block: #2D2D2D;
    --bg-table-block-tr: #333333;
    --bg-table-block-shadow: 0px 4px 4px 0px rgba(12, 54, 138, 0.08), 0px 0px 10px 0px rgba(18, 61, 148, 0.09);
    --bg-percent-icon: #555555;
    --bg-detail-item: #1A1A1A;
    --bg-card-item: #333333;
    --bg-card-item-border: #444444;
    --bg-sys-card-pan: #197B96;
    --bg-net-card-pan: #075C99;
    --bg-data-card-pan: #2B4F97;
    --bg-border-right: #444444;
    --bg-nav-hover: #444444;
    --bg-drop-hover: #333333;
    --bg-warn-pan: #333333;
    --bg-checbox-disabled: #444444;
    --bg-checbox-disabled-border: #888888;
    /* plugin */
    --white: #ffffff;
    --loong-bg-btn: #1188DD;
    --loong-option-selected: #1188DD;
    --c75: rgba(255, 255, 255, 0.75);
    --c50: rgba(255, 255, 255, 0.5);
    --loong-input-disabled: #333333;
    --loong-font-click: #FFFFFF;
    --loong-select-input-border: #777777;
    --loong-input-bg-color: #111111;
    --loong-input-border: #444444;
    --loong-option-list-border-color: #4E515C;
    --loong-option-hover: #333333;
    --loong-option-list-bg-color: #222222;
    --loong-option-list-border: #444444;
    --loong-bg-page-btn-color: #444444;
    --loong-bg-page-btn-font: rgba(255, 255, 255, 0.5);
    --loong-bg-page-jump-input: #1A1A1A;
    --loong-bg-page-box: #222222;
    --loong-bg-btn-disabled: #333333;
    --loong-page-sel-border: #444444;
    --loong-border-right: #444444;
    --loong-bg-table-header: #1A1A1A;
    --loong-bg-table-content: #222222;
    --loong-bg-table-content-row-odd: #222222;
    --loong-bg-table-content-row-even: #1A1A1A;
    --loong-bg-table-content-row-hover: #333333;
    --loong-bg-table-content-row-selected: #000000;
    --tip-arrow-border: #444444;
    --percentText-color: #FFFFFF;
    --bg-query-cont: #111111;
    --bg-query-sel-li-hover: #222222;
    --bg-table-tip: #333333;
    --bg-date: #222222;
    --date-clear-icon-span-font: #ffffff;
    --bg-date-btn-active: #444444;
    --bg-date-btn-active-hover: #73717B;
    --bg-date-btn-active-active: #444444;
    --border-date-tine-split: #353535;
    --bg-date-calendar-date: #1188DD;
    --bg-date-calendar-th: #22A7F0;
    --date-today-color-hover: #80A7DD;
    --bg-dialog-container: #222222;
    --bg-dialog-title: #000000;
    --bg-dialog-body: #000000;
    --btn-dialog-second: #62606B;
    --btn-dialog-second-hover: #595959;
    --btn-dialog-second-active: #333333;
    --btn-dialog-hover: #0066BB;
    --btn-dialog-active: #004499;
    --bg-validate-err-tip: #333333;
    --bg-validate-tip-border: #444444;
    --bg-table-tip-shadow: rgba(0, 0, 0, .12);
    --bg-table-tip-arrow: #666666;
    --bg-pop-tip-border: #444444;
    /* dashboard */
    --store-bg-light: #197B96;
    --store-bg-normal: #075C99;
    --store-bg-dark: #196A99;
    --store-bg-purple: #2B4F97;
    --store-bg-light-hover: #14667D;
    --store-bg-normal-hover: #054C7F;
    --store-bg-dark-hover: #15587F;
    --store-bg-purple-hover: #23417E;
    --cloud-bg-vm: #196A99;
    --cloud-bg-run-vm: #197B96;
    --cloud-bg-user-vm: #2B4F97;
    --cloud-tenant-bg-vm: #196A99;
    --cloud-tenant-bg-run-vm: #197B96;
    --cloud-tenant-bg-user-vm: #2B4F97;
    /* store */
    --store-app-updatemoudel-checkbox-disabled-backgroud: #333333;
    --store-app-updatemoudel-checkbox-disabled-border: rgba(255, 255, 255, 0.5);
}