.light-theme {
    --login-bgr: linear-gradient(to bottom, #43bbff, #1188dd);
	--login-copy:#84c1ed;
  --bg-login-btn:#1188DD;
  --login-title-color:#666666;
  --login-title-weight:400;
    --bgcolor:#E9ECEF;
    --bgouter:#ffffff;
    --bginput:#ffffff;
    --bg-topbar:#F8F9FA;
    --topbar-border-bottom:#eeeeee;
    --public-font-color:#333333;
    --theme-color:#1188DD;
    --icon-common-color:#1188DD;
    --opacity75:0.75;
    --opacity50:0.50;
    --c75:#666666;
    --c50:#999999;
    --btn-primary-shadow:rgba(17,136,221,0.4);
    --btn-primary-font-color:#fff;
    --btn-primary-hover-bgcolor:#0066BB;
    --btn-primary-hover-shadow:rgba(0,102,187,0.4);
    --btn-primary-hover-bg-color:#0066BB;
    --btn-primary-active-bg-color:#004499;
    --btn-primary-disabled-bg-color:#7EBEEC;
    --btn-opr-bg-color:#EEF7FF;
    --btn-opr-bg-color-win:#d5ecfd;
    --btn-opr-bg-color-win-disabled:#dbe8f3;
    --btn-opr-active-bg-color:#CCE5FF;
    --btn-opr-disabled-bg-color:#F1F3F5;
    --btn-opr-disabled-font-color:#999999;
    --btn-opr-font-color:#1188DD;
    --btn-opr-hover-bgcolor:#DDEEFF;
    --btn-opr-active-bgcolor:#CCE5FF;
    --btn-text-fontcolor:#1188DD;
    --btn-text-hover-fontcolor:#0066BB;
    --btn-text-active-fontcolor:#004499;
    --btn-text-disabled-fontcolor:#999999;
    --drop-btn-list-bg:#ffffff;
    --drop-btn-item-bg-hover:#F8F9FA;
    --drop-btn-list-boxshadow-color:rgba(0,0,0,0.2);
    --bg-tab-btn:#EEF7FF;
    --border-color-common:#E9ECEF;
    --border-color-input-or-other-wrap:#CED4DA;
    --border-color-input-hover:#1188DD;
    --form-common-border:#aaaaaa;
    --form-selected-icon-color:#ffffff;
    --form-selected-bg-color:#1188DD;
    --form-input-disabled-bg-color:#F7F8F9;
    --bg-menu-wrap:#364258;
    --bg-first-menu:#38455a;
    --bg-first-hover-menu:#475369;
    --bg-second-menu:#2A374D;
    --bg-third-menu:#364258;
    --senior-menu-bg:#f8f9fa;
    --senior-single-bg-selected:#e9ecef;
    --senior-second-bg-selected:#dee2e6;
    --bg-collapse-bar:#2a374d;
    --bg-header-table-block:#F8F9FA;
    --bg-table-block-tr:#ffffff;
    --bg-table-block-shadow:0px 4px 4px 0px rgba(12,54,138,0.08),0px 0px 10px 0px rgba(18,61,148,0.09);
    --bg-percent-icon:#D8D8D8;
    --bg-detail-item:#F8F9FA;
    --bg-card-item:#FFFFFF;
    --bg-card-item-border:#CED4DA;
    --bg-sys-card-pan:#28C4EF;
    --bg-net-card-pan:#1188dd;
    --bg-data-card-pan:#4884FD;
    --bg-border-right:#F1F3F5;
    --bg-nav-hover:#F2F4F6;
    --bg-drop-hover:#F8F9FA;
    --bg-warn-pan:#FFFFFF;
    --bg-checbox-disabled:#DEE0E3;
    --bg-checbox-disabled-border:#aaaaaa;
    /* plugin */
    --white: #ffffff;
    --loong-bg-btn: #1188DD;
    --loong-option-selected: #1188DD;
    --loong-input-disabled: #F7F8F9;
    --loong-font-click: #1188DD;
    --loong-select-input-border: #CED4DA;
    --loong-input-bg-color: #FFFFFF;
    --loong-input-border: #CED4DA;
    --loong-option-list-border-color: #E9ECEF;
    --loong-option-hover: #F8F9FA;
    --loong-option-list-bg-color: #FFFFFF;
    --loong-option-list-border:#FFFFFF;
    --loong-bg-page-btn-color: #EEF7FF;
    --loong-bg-page-btn-font: #1188DD;
    --loong-bg-page-jump-input: #FFFFFF;
    --loong-bg-page-box: #FFFFFF;
    --loong-bg-btn-disabled: #F1F3F5;
    --loong-page-sel-border: #E1E6EB;
    --loong-border-right: #F1F3F5;
    --loong-bg-table-header: #F8F9FA;
    --loong-bg-table-content: #FFFFFF;
    --loong-bg-table-content-row-odd: #FFFFFF;
    --loong-bg-table-content-row-even: #F8F9FA;
    --loong-bg-table-content-row-hover: #F3F5F7;
    --loong-bg-table-content-row-selected: #EEF7FF;
    --tip-arrow-border: #333333;
    --percentText-color: #000;
    --bg-query-cont: #FFFFFF;
    --bg-query-sel-li-hover: #F8F9FA;
    --bg-table-tip: #FFFFFF;
    --bg-date: #ffffff;
    --date-clear-icon-span-font: #ffffff;
    --bg-date-btn-active: #EEF7FF;
    --bg-date-btn-active-hover: #DDEEFF;
    --bg-date-btn-active-active: #CCE5FF;
    --border-date-tine-split: #EEEEEE;
    --bg-date-calendar-date: #1188DD;
    --bg-date-calendar-th: #22A7F0;
    --date-today-color-hover: #80A7DD;
    --bg-dialog-container: #FFFFFF;
    --bg-dialog-title: #38455A;
    --bg-dialog-body: #E9ECEF;
    --btn-dialog-second: #EEF7FF;
    --btn-dialog-second-hover: #DDEEFF;
    --btn-dialog-second-active: #CCE5FF;
    --btn-dialog-hover: #0066BB;
    --btn-dialog-active: #004499;
    --bg-validate-err-tip: #FFFFFF;
    --bg-validate-tip-border: #D3D1D1;
    --bg-table-tip-shadow: rgba(0, 0, 0, .12);
    --bg-table-tip-arrow: #666666;
    --bg-pop-tip-border:#333333;
    /* dashboard */
    --store-bg-light:#2ACEFB;
    --store-bg-normal:#2BB2FF;
    --store-bg-dark:#0C9AFF;
    --store-bg-purple:#4884FD;
    --store-bg-light-hover:#28C5F1;
    --store-bg-normal-hover:#29ABF5;
    --store-bg-dark-hover:#0B93F5;
    --store-bg-purple-hover:#457EF3;
    --cloud-bg-vm:#1188DD;
    --cloud-bg-run-vm:#28C4EF;
    --cloud-bg-user-vm:#4884ED;
    --cloud-tenant-bg-vm:#2ACEFB;
    --cloud-tenant-bg-run-vm:#4884FD;
    --cloud-tenant-bg-user-vm:#0C9AFF;
    /* store */
    --store-app-updatemoudel-checkbox-disabled-backgroud: #D8D8D8;
    --store-app-updatemoudel-checkbox-disabled-border: #AAAAAA;
}